@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --text-color-2: #656d75;
    --bg-color-2: #f6f8fa;
    --bg-color-3: #22272e;
    --color-primary: #4285f4;
    --color-secondary: #34a853;
    --color-buttons: #fbbc05;
    --color-typography: #ea4335;
  }
}

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-bg-light-1: #ffffff;
  --c-bg-light-2: #f1f1f5;
  --c-bg-dark-1: #1a1a1a;
  --c-bg-dark-2: rgb(56, 56, 56);

  --c-bg-header-dark: rgba(35, 35, 38, 0.4);
  --c-bg-header-light: #ffffffba;

  --c-text-light-1: rgb(51, 52, 53);
  --c-text-light-2: #656d75;
  --c-text-light-3: #1f2667;
  --c-text-light-4: #000000;
  --c-text-dark-1: rgb(229, 231, 235);
  --c-text-dark-2: #848d97;
  --c-text-dark-3: #f6f8fa;
  --c-text-dark-4: #ffffff;

  --site-text-color-2: '#ea0303';
  /* --site-text-color-2: '#656d75'; */

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-bg-light-1);
  --color-background-soft: var(--c-bg-light-2);
  --color-header-background: var(--c-bg-header-light);
  --color-text: var(--c-text-light-1);
  --color-text-soft: var(--c-text-light-2);
  --color-text-3: var(--c-text-light-3);
  --color-text-title: var(--c-text-light-4);

  --md-link-color: #2525c7;
  --md-code-background: var(--c-bg-light-2);

  /*  */
  /* --color-background-soft: var(--vt-c-white-soft); */
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

html.dark {
  --color-background: var(--c-bg-dark-1);
  --color-background-soft: var(--c-bg-dark-2);
  --color-header-background: var(--c-bg-header-dark);
  --color-text: var(--c-text-dark-1);
  --color-text-soft: var(--c-text-dark-2);
  --color-text-3: var(--c-text-dark-3);
  --color-text-title: var(--c-text-dark-4);

  --md-link-color: #4285f4;
  --md-code-background: var(--c-bg-dark-2);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-bg-dark-1);
    --color-text: var(--c-text-dark-1);
  }
} */

div,
code,
pre,
header,
section,
main,
footer,
article {
  -webkit-transition: background-color 200ms ease-out;
  -moz-transition: background-color 200ms ease-out;
  -o-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: vazirmatn-rd;
  src: url('../fonts/webfonts/Vazirmatn-RD-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-Light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-SemiBold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-Bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: sahel;
  src: url('../fonts/sahel/Sahel-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
