@import './base.css';

.v-enter-active,
.v-leave-active {
  transition: opacity 0.8s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.blog-content p {
  font-size: 1rem;
  margin-bottom: 0.6rem;
  line-height: 1.8rem;
  margin-right: -14px;
  padding-right: 14px;
  margin-left: -14px;
  padding-left: 14px;
}

@media (min-width: 768px) {
  .blog-content p {
    font-size: 0.875rem;
  }
}

.blog-content h2 {
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  display: block;
  margin-top: 1.2rem;
  line-height: 1.8rem;
  margin-right: -14px;
  padding-right: 14px;
  margin-left: -14px;
  padding-left: 14px;
}

.blog-content h3 {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.4rem;
  display: block;
  margin-top: 0.8rem;
  line-height: 1.8rem;
  margin-right: -14px;
  padding-right: 14px;
  margin-left: -14px;
  padding-left: 14px;
}

.blog-content a {
  color: var(--md-link-color, #4285f4);
}

.blog-content code {
  background-color: var(--md-code-background, #e2e3e7);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-top: 2px;
  border-radius: 4px;
}

pre code {
  padding-left: unset !important;
  padding-right: unset !important;
  padding-bottom: unset !important;
  padding-top: unset !important;
  background-color: unset !important;
}

.blog-content pre {
  direction: ltr;
  background-color: var(--md-code-background, #e2e3e7);
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  overflow: auto;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.blog-content img {
  height: auto;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
